* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    background-color: #f4f4f9;
    padding: 20px;
}

h1 {
    color: #2e52f0;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    width: 70%;

}

input {
    padding: 10px;
    font-size: 14px;
    width: 41%;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline:none;
}

button {
    padding: 10px 15px;
    background-color: #2e52f0;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0126cc;
}

#bookmarkList {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5px;
    margin-top: 20px;
    
}
#bookmarkList div{
     color: #044f9e;
     border-radius: 5px;
     
    
}

.bookmark-item {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bookmark-item .actions {
    display: flex;
    gap: 10px;
}

button.delete {
    background-color: red;
}

button.update {
    background-color: green;
}

button.delete:hover {
    background-color: darkred;
}

button.update:hover {
    background-color: darkgreen;
}

@media (max-width: 768px) {
    .input-container {
        flex-direction: column;
        width: 70%;
    }

    input {
        width: 100%;
    }

    button {
        width: 100%;
    }
    #bookmarkList {
        display: grid;
        grid-template-columns: auto auto;
        margin-top: 20px;
    }
}

@media (max-width: 468px) {
    .input-container {
        flex-direction: column;
        width: 100%;
    }

    input {
        width: 100%;
    }

    button {
        width: 100%;
    }
    #bookmarkList {
        display: grid;
        grid-template-columns: auto;
        margin-top: 20px;
    }
}
